@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Prime Factors</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="/Scripts/PrimeFactors.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="/Styles/main.css" />
    </head>
    <body>
        <h1 id="title">Prime Factors</h1>
        <div id="invitation">Please specify a number and click go to obtain its decomposition.</div>
        <input type="text" id="number" /><button id="go">Go</button>
        <div id="result"></div>
        <ol id="results"></ol>
        @if (!string.IsNullOrEmpty(YoseTheGame.Controllers.PrimeFactorsController.LastDecomposition)){
        <div id="last-decomposition">@YoseTheGame.Controllers.PrimeFactorsController.LastDecomposition</div>
        }
    </body>
</html>
