@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Yose The Game</title>
    </head>
    <body>
        <h1>Hello Yose</h1>
        <h2>Links required by the game</h2>
        <ul>
            <li><a id="repository-link" href="https://github.com/djreeboot/YoseTheGame-MVC4">Share</a></li>
            <li><a id="contact-me-link" href="http://ca.linkedin.com/in/benoitchampagne">Contact Me</a></li>
            <li><a id="ping-challenge-link" href="/ping">Ping Challenge</a></li>
            <li><a id="prime-factors-decomposition-link" href="/primeFactors/ui">Prime Factors</a></li>
        </ul>
    </body>
</html>
